

.body{
    /* background: #f4f5f7; */
    font-family: 'Courier New', Courier, monospace;
    padding:0px;
    margin:0px;
}
.container-check{
    margin-top: 10vh;
    background:#f4f5f7;
    width:100vw;
    height:90vh;
    overflow: hidden;
    padding:10px 150px;
}
.working-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-navbar{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:fit-content;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    background: #fafafa;

}
.nav-item h6{
    font-weight: 700;
    margin:0px;
    padding:0px;
}


.navbar-brand img{
    height: 70px;
    width:70px;
}
.nav-items{
    color:#8c9aa3;
}
.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    cursor: pointer;
}
.nav-item:hover{
    background: #d1e1ee;
    color:black;
}